body {
	background: #0c739f url(../img/bg.jpg) 0 0 repeat-x;
	color: #424c43;
	font-family: 'Tahoma';
	font-size: 12px;
}

h2 {
	font-size: 18px;
	line-height: 1.5em;
	text-align: center;
}

p {
	font-size: 14px;
	line-height: 2em;
	padding: 5px 0;
}

.container {
	background-color: #fff;
	box-shadow: 0px 1px 6px 1px #4a4a4a;
	margin: auto;
	position: relative;
	width: 1000px;
}

.header {
	border-bottom: 1px solid #128aa7;
	color: #128aa7;
	height: 177px;
	position: relative;
}

.promo-block {
	max-height: 250px;
	overflow: hidden;
}

.promo-block img {
	width: 100%;
}

.logo {
	display: inline-block;
	padding: 8px 0 0 28px;
}

.logo a {
	display: block;
	height: 100%;
	position: relative;
}

.logo-text {
	color: #128aa7;
	left: 23%;
	position: absolute;
	text-align: center;
	top: 63%;
}

.contacts {
	min-width: 160px;
	padding: 10px;
	position: absolute;
	right: 0;
	top: 0;
}

.contacts li {
	line-height: 1.4em;
}

.country {
	bottom: 0;
	padding: 10px 30px;
	position: absolute;
	right: 0;
}

.country li {
	display: inline-block;
	min-width: 52px;
	padding: 0 3px;
	text-align: center;
}

.country li a {
	color: #128aa7;
}

.country li a:hover,
.country li a:focus {
	color: #0e718a;
	text-decoration: none;
}

.country li img {
	display: block;
	height: 47px;
	margin: auto;
	width: 47px;
}

.nav {
	background: #373737;
	background: -moz-linear-gradient(top,  #373737 0%, #303030 100%);
	background: -ms-linear-gradient(top,  #373737 0%,#303030 100%);
	background: -o-linear-gradient(top,  #373737 0%,#303030 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#373737), color-stop(100%,#303030));
	background: -webkit-linear-gradient(top,  #373737 0%,#303030 100%);
	background: linear-gradient(to bottom,  #373737 0%,#303030 100%);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM3MzczNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMDMwMzAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	border-bottom: 1px solid #000;
	border-top: 1px solid #cacbcb;
	box-shadow: 0 2px 6px 0 #313131;
	box-sizing: border-box;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#373737', endColorstr='#303030',GradientType=0 );
	height: 29px;
	padding: 0 30px;
	text-align: justify;
	width: 100%;
}

.nav:after {
	content: '';
	display: inline-block;
	height: 0;
	width: 100%;
}

.nav > li {
	display: inline-block;
	line-height: 27px;
	position: relative;
	vertical-align: top;
}

.nav > li a {
	color: #fff;
	display: block;
	font-size: 14px;
	padding: 0 15px;
	text-decoration: none;
}

.arrow {
	font-size: 8px;
	line-height: 26px;
	vertical-align: middle;
}
.nav > li:hover > .dropdown {
	display: block;
}

.nav .dropdown {
	background-color: #303030;
	display: none;
	left: 0;
	line-height: 2em;
	min-width: 100%;
	padding: 10px;
	position: absolute;
	top: 100%;
	z-index: 99;
}

.dropdown a:hover,
.dropdown a:focus {
	color: #ff853c;
}

.content {
	overflow: hidden;
}

.wrap1,
.wrap2,
.wrap3 {
	float: left;
	position: relative;
	width: 100%;
}

.wrap1 {
	background: #edeef0;
	border-right: 1px solid #c7cacf;
	right: 58%;
}

.wrap2 {
	background: #fff;
	border-right: 1px solid #c7cacf;
	right: 21%;
}

.wrap3 {
	background: #edeef0;
}

.column-center,
.column-left,
.column-right {
	box-sizing: border-box;
	float: left;
	left:79%;
	overflow: hidden;
	padding: 10px 15px;
	position:relative;
	width: 21%;
}

.column-center {
	width: 58%;
}

.column-center:before {
	content: 'fix';
	display: block;
	height: 10px;
	margin-bottom: -10px;
	opacity: 0;
	visibility: hidden;
}

.footer {
	color: #fff;
	line-height: 30px;
	text-align: center;
}